body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
      /* background: rgb(42,0,79) !important;
    background: linear-gradient(156deg, rgba(42,0,79,1) 27%, rgba(138,43,226,1) 75%) !important ;
    background-repeat: no-repeat !important;  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
